header nav .bottom-menu .nav-list, header nav .bottom-menu .nav-list ul li.promo a::after, header nav .bottom-menu .nav-searh, article, main section .filter-form, main section .price-selector .price-range, main section .top-rated-link, main .products-wrapper .sort-body .block, main .products-wrapper .sort-body .empty ul.hidden-list, main .products-wrapper .sort-body .view, main .products-wrapper .products .product .info-image-wrapper, main .products-wrapper .products .product .product-hover-menu a, main .products-wrapper .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1920px;
  background-color: #fff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

a, span {
  text-decoration: none;
  color: #7b7b7b;
}

a:not(span):hover, span:not(span):hover {
  color: #293341;
}

ul {
  list-style: none;
}

header {
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eeeeee;
}

header .logo {
  min-width: 230px;
  height: 100%;
  background: url("../img/Logo.png") no-repeat center;
}

header nav {
  width: 90%;
  border-left: 1px solid #eeeeee;
  height: 100%;
}

header nav .top-menu {
  width: 100%;
  height: 50px;
  background-color: #293341;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 40%;
  color: #646f7f;
  font-size: 0.9em;
  padding-right: 20px;
}

header nav .top-menu ul li:not(:last-child) {
  padding-right: 40px;
}

header nav .top-menu ul li a {
  text-decoration: none;
  color: #646f7f;
}

header nav .top-menu ul li:hover a {
  color: lightgray;
}

header nav .bottom-menu {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .bottom-menu .nav-list {
  width: 93%;
  height: 100%;
  border-right: 1px solid #eeeeee;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .bottom-menu .nav-list ul {
  min-width: 65%;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .bottom-menu .nav-list ul li.promo a::after {
  position: absolute;
  content: '';
  width: 38px;
  height: 20px;
  letter-spacing: normal;
  font-size: 0.6em;
  top: -20px;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 100%;
}

header nav .bottom-menu .nav-list ul li.promo a::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 100%;
}

header nav .bottom-menu .nav-list ul li.promo.hot a::after {
  content: 'HOT';
  background-color: #c91f28;
}

header nav .bottom-menu .nav-list ul li.promo.hot a::before {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #c91f28), color-stop(50%, transparent));
  background: linear-gradient(to bottom right, #c91f28 50%, transparent 50%);
}

header nav .bottom-menu .nav-list ul li.promo.new a::after {
  content: 'NEW';
  background-color: green;
}

header nav .bottom-menu .nav-list ul li.promo.new a::before {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, green), color-stop(50%, transparent));
  background: linear-gradient(to bottom right, green 50%, transparent 50%);
}

header nav .bottom-menu .nav-list ul li {
  display: inline-block;
  margin: 0 18px 0 18px;
  position: relative;
}

header nav .bottom-menu .nav-list ul li a {
  font-size: 1em;
  font-weight: 500;
  color: #293341;
  letter-spacing: 2.21px;
}

header nav .bottom-menu .nav-list ul li.circle {
  height: 5px;
  width: 5px;
  background-color: #293341;
  border-radius: 50%;
  opacity: 0.3;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

header nav .bottom-menu .nav-searh {
  width: 8%;
  height: 100%;
  color: #293341;
  font-size: 1.5em;
}

h2 {
  text-transform: uppercase;
  color: #293341;
  font-size: 1em;
  width: 100%;
}

article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
  background: url(../img/back.jpg);
  background-position: 0 -130px;
  background-repeat: no-repeat;
  background-size: cover;
}

article h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

.product-name {
  font-size: 1.2em !important;
  color: #293341;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  display: block;
}

.product-name:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #c91f28;
}

.product-price {
  color: #7b7b7b;
}

.product-price.sale {
  position: relative;
}

.product-price.sale::after {
  content: '';
  position: absolute;
  width: 40%;
  height: 1px;
  background-color: #c91f28;
  top: 50%;
  left: 60%;
}

.product-price span {
  color: #c91f28;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f9f9f9;
  height: 100%;
  padding: 2.2% 4%;
}

main section li {
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section > div {
  padding-bottom: 40px;
}

main section .filter-form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .filter-form .check {
  padding-left: 35px;
  color: #7b7b7b;
}

main section .filter-form .check:hover {
  color: #293341;
}

main section .filter-form .check-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

main section .filter-form .check-input:checked + .check-box {
  background-color: #c91f28;
  border: none;
}

main section .filter-form .check-input:checked + .check-box::before {
  opacity: 1;
}

main section .filter-form .check-input:disabled + .check-box {
  background-color: #bbbbbb;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
          box-shadow: inset 0px 0px 0px 2px #fff;
}

main section .filter-form .check-box {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #bbbbbb;
  border-radius: 50%;
  margin-left: -27px;
  margin-top: 3px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

main section .filter-form .check-box::before {
  position: absolute;
  content: '';
  background: url(../img/checked.png) 4px 3px no-repeat;
  background-size: 12px 12px;
  opacity: 0;
  width: 30px;
  height: 30px;
  z-index: 2;
}

main section .price-selector .multi-range-slider {
  width: 100%;
  height: 30px;
  position: relative;
  margin-top: 30px;
}

main section .price-selector .multi-range-slider .slider {
  position: relative;
  z-index: 1;
  height: 3px;
}

main section .price-selector .multi-range-slider .slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #eeeeee;
}

main section .price-selector .multi-range-slider .slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #c91f28;
}

main section .price-selector .multi-range-slider .slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 3px;
  height: 15px;
  background-color: #c91f28;
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

main section .price-selector .multi-range-slider .slider > .thumb.left {
  left: 25%;
  -webkit-transform: translate(0px, -6px);
          transform: translate(0px, -6px);
}

main section .price-selector .multi-range-slider .slider > .thumb.right {
  right: 25%;
  -webkit-transform: translate(0, -6px);
          transform: translate(0, -6px);
}

main section .price-selector .multi-range-slider input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 3px;
  width: 100%;
  opacity: 0;
}

main section .price-selector .multi-range-slider input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
  cursor: pointer;
}

main section .price-selector .multi-range-slider input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -moz-appearance: none;
  cursor: pointer;
}

main section .price-selector .price-range {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .price-selector .price-range .price-range-text > p {
  color: #7b7b7b;
}

main section .price-selector .price-range .value-text {
  color: #293341;
  font-weight: 600;
}

main section .price-selector .price-range .filter-button {
  background-color: #293341;
  border: none;
  color: #fff;
  padding: 1em;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main section .price-selector .price-range .filter-button:hover {
  background-color: #293341;
  color: #c91f28;
}

main section .color-selector a {
  padding-left: 30px;
  display: block;
  position: relative;
}

main section .color-selector a::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  left: 0px;
  bottom: 3px;
  -webkit-transition: 0.3s -webkit-transform ease-in-out;
  transition: 0.3s -webkit-transform ease-in-out;
  transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out, 0.3s -webkit-transform ease-in-out;
}

main section .color-selector a:hover::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main section .color-selector a.turquoise::before {
  background-color: #27bc9c;
}

main section .color-selector a.emerald::before {
  background-color: #36cc73;
}

main section .color-selector a.flower::before {
  background-color: #f0c32c;
}

main section .color-selector a.carrot::before {
  background-color: #e47d2e;
}

main section .color-selector a.belize::before {
  background-color: #2e80b7;
}

main section .color-selector a.alizarin::before {
  background-color: #e54a41;
}

main section .top-rated-link {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20px;
}

main section .top-rated-link .mini-img {
  min-width: 100px;
  max-height: 100px;
}

main section .top-rated-link .top-rated-text {
  padding-left: 20px;
}

main section .top-rated-link .top-rated-text > .product-name {
  font-size: 1em !important;
}

main section .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section .tags button.tag {
  padding: 1em 1.5em;
  margin: 0.5em 0.5em 0.5em 0;
  background-color: #fff;
  border: 1px solid #eeeeee;
  color: #7b7b7b;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main section .tags button.tag:hover {
  color: #293341;
  border: 1px solid #293341;
}

main .products-wrapper {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 45px 0 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .products-wrapper .crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 1em;
}

main .products-wrapper .crumbs * {
  display: block;
  padding-left: 5px;
  color: #7b7b7b;
}

main .products-wrapper .sort-body {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .products-wrapper .sort-body .block {
  height: 100%;
  border: 1px solid #eeeeee;
  color: #7b7b7b;
  font-size: 0.8em;
}

main .products-wrapper .sort-body .block:not(:last-child) {
  border-right: none;
}

main .products-wrapper .sort-body .found {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  text-align: center;
}

main .products-wrapper .sort-body .sort {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  min-width: 130px;
  position: relative;
}

main .products-wrapper .sort-body .sort .arrow {
  position: absolute;
  width: 15px;
  height: 15px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(75%, transparent), color-stop(75%, #7b7b7b));
  background: linear-gradient(to right bottom, transparent 75%, #7b7b7b 75%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 80%;
  top: 20%;
}

main .products-wrapper .sort-body .sort select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  color: #7b7b7b;
  padding: 20px 52px 20px 52px;
  line-height: 20px;
  display: block;
  font-family: 'Poppins', sans-serif;
  outline: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .products-wrapper .sort-body .empty {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}

main .products-wrapper .sort-body .empty p {
  opacity: 0;
  cursor: pointer;
}

main .products-wrapper .sort-body .empty ul.hidden-list {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #f9f9f9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 0;
  left: 0;
  opacity: 0;
}

main .products-wrapper .sort-body .empty ul.hidden-list li {
  z-index: 11;
  color: #293341;
  text-decoration: underline;
}

main .products-wrapper .sort-body .empty ul.hidden-list::after {
  position: absolute;
  content: 'X';
  border: 1px solid #293341;
  padding: 6px 10px;
  color: #293341;
  top: 5%;
  right: 10%;
}

main .products-wrapper .sort-body .view {
  min-width: 70px;
  cursor: pointer;
}

main .products-wrapper .sort-body .view a, main .products-wrapper .sort-body .view a::after, main .products-wrapper .sort-body .view a::before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

main .products-wrapper .sort-body .view a.view-selector-many {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #7b7b7b;
  position: relative;
}

main .products-wrapper .sort-body .view a.view-selector-many::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 1px;
  background-color: #fff;
  top: 50%;
}

main .products-wrapper .sort-body .view a.view-selector-many::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 20px;
  background-color: #fff;
  right: 48%;
}

main .products-wrapper .sort-body .view a.view-selector-single {
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #7b7b7b;
}

main .products-wrapper .sort-body .view a.view-selector-single::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #7b7b7b;
  top: 9px;
}

main .products-wrapper .sort-body .view a.view-selector-single::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #7b7b7b;
  bottom: 9px;
}

main .products-wrapper .sort-body .view:not(.active):hover a,
main .products-wrapper .sort-body .view:not(.active):hover a::after,
main .products-wrapper .sort-body .view:not(.active):hover a::before {
  background-color: #c91f28;
}

main .products-wrapper .sort-body .view.active a {
  background-color: #c91f28 !important;
}

main .products-wrapper .sort-body .list-view {
  min-width: 70px;
}

main .products-wrapper .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

main .products-wrapper .products .product {
  width: 30%;
  max-height: 800px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

main .products-wrapper .products .product.new::after {
  position: absolute;
  display: block;
  content: 'new';
  width: 2.2em;
  height: 1.5em;
  background-color: #27ae60;
  color: #fff;
  top: 1%;
  left: 1%;
  font-size: 0.6em;
  padding: 3px 5px;
}

main .products-wrapper .products .product.sale::after {
  position: absolute;
  display: block;
  content: 'sale';
  width: 2.2em;
  height: 1.5em;
  background-color: #c91f28;
  color: #fff;
  top: 1%;
  left: 1%;
  font-size: 0.6em;
  padding: 3px 5px;
}

main .products-wrapper .products .product.sale.new::after {
  position: absolute;
  display: block;
  content: 'sale';
  width: 2.2em;
  height: 1.5em;
  background-color: #c91f28;
  color: #fff;
  top: 1%;
  left: 1%;
  font-size: 0.6em;
  padding: 3px 5px;
}

main .products-wrapper .products .product.sale.new::before {
  position: absolute;
  display: block;
  content: 'new';
  width: 2.2em;
  height: 1.5em;
  background-color: #27ae60;
  color: #fff;
  top: 4.5%;
  left: 1%;
  font-size: 0.6em;
  padding: 3px 5px;
  z-index: 1;
}

main .products-wrapper .products .product .image-product-wrapper {
  height: 85%;
  width: 100%;
  position: relative;
  -webkit-transition: 0.5s opacity ease;
  transition: 0.5s opacity ease;
}

main .products-wrapper .products .product .image-product-wrapper a {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: inherit;
}

main .products-wrapper .products .product .image-product-wrapper a img {
  width: 100%;
  min-height: 350px;
  overflow: hidden;
}

main .products-wrapper .products .product .info-image-wrapper {
  width: 100%;
  height: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .products-wrapper .products .product .info-image-wrapper .rating li {
  display: inline-block;
}

main .products-wrapper .products .product .info-image-wrapper .star {
  color: #b6b6b6;
  font-size: 0.7em;
  text-overflow: ellipsis;
}

main .products-wrapper .products .product .info-image-wrapper .fill {
  color: #ffbb04;
}

main .products-wrapper .products .product .product-hover-menu {
  position: absolute;
  width: 80%;
  height: 10%;
  opacity: 0;
  bottom: 30%;
  right: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

main .products-wrapper .products .product .product-hover-menu a {
  color: #646f7f;
  background-color: white;
}

main .products-wrapper .products .product .product-hover-menu .to-favorite {
  width: 20%;
  height: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 1px solid #e0dfdf;
  padding-left: 7px;
}

main .products-wrapper .products .product .product-hover-menu .to-favorite i {
  cursor: pointer;
  font-size: 1.5em;
}

main .products-wrapper .products .product .product-hover-menu .to-cart {
  width: 60%;
  height: 100%;
  border-top: 1px solid #e0dfdf;
  border-bottom: 1px solid #e0dfdf;
  text-transform: uppercase;
  color: #c91f28;
  font-weight: bold;
  cursor: pointer;
}

main .products-wrapper .products .product .product-hover-menu .to-cart:hover {
  color: #c91f27c2;
}

main .products-wrapper .products .product .product-hover-menu .to-product {
  width: 20%;
  height: 100%;
  border-top-right-radius: 50%;
  border: 1px solid #e0dfdf;
  border-bottom-right-radius: 50%;
}

main .products-wrapper .products .product .product-hover-menu .to-product i {
  cursor: pointer;
  font-size: 1.5em;
}

main .products-wrapper .products .product .image-product-wrapper:hover .product-hover-menu {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 1;
}

main .products-wrapper .products .product .image-product-wrapper:hover img {
  opacity: 0.6;
}

main .products-wrapper .pagination {
  height: 50px;
  min-width: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5vh;
}

main .products-wrapper .pagination .pagination-link {
  min-width: 50px;
  height: 50px;
  margin: 10px 10px;
  color: #293341;
  border: 1px solid #eeeeee;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

main .products-wrapper .pagination .pagination-link:not(.current-page):not(.pagination-disabled):hover {
  color: #fff;
  background-color: #293341;
}

main .products-wrapper .pagination .current-page {
  background-color: #293341;
  color: #fff;
}

main .products-wrapper .pagination .pagination-disabled i {
  color: #eeeeee;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 290px;
  border-top: 1px solid #eeeeee;
}

footer p,
footer a {
  color: #7b7b7b;
  padding: 1%;
}

footer a:hover {
  color: #293341;
}

footer .company-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #eeeeee;
  width: 30%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2% 5%;
}

footer .company-footer p {
  font-size: 1.5em;
  font-weight: 600;
  color: #293341;
  text-transform: uppercase;
}

footer .info {
  width: 40%;
  border-right: 1px solid #eeeeee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 1%;
}

footer .info img {
  padding-bottom: 20px;
}

footer .info .simple {
  color: #7b7b7b;
  font-size: 1em;
  text-transform: none;
  font-weight: lighter;
}

footer .help {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: none;
}

@media screen and (max-width: 1300px) {
  .product {
    width: 47% !important;
  }
  li.circle {
    display: none !important;
  }
  article {
    min-height: 250px !important;
  }
  section {
    padding: 2.2% 25px !important;
  }
}

@media screen and (max-width: 1000px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 200px;
  }
  nav {
    width: 100% !important;
  }
  nav .top-menu {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  nav .nav-list {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  nav .nav-list ul {
    padding-right: 0 !important;
  }
  nav .nav-searh {
    width: 12% !important;
  }
  footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .company-footer {
    width: 50%;
  }
  footer .info {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  section {
    display: none !important;
  }
  article {
    display: none;
  }
  .product {
    width: 80% !important;
  }
  .found {
    display: none !important;
  }
  .top-menu li {
    padding-right: 1em !important;
  }
  .top-menu ul {
    padding-right: 0 !important;
  }
  .nav-list li {
    margin: 0 0.6em !important;
  }
  .products-wrapper {
    width: 100% !important;
    padding: 1em 0 0 0em !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .product {
    width: 49% !important;
  }
  .block.view {
    display: none !important;
  }
  .block.empty {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .empty p {
    opacity: 1 !important;
  }
}

@media screen and (max-width: 480px) {
  header nav .top-menu ul {
    display: -webkit-box;
  }
  .products {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .product {
    width: 80% !important;
  }
  header nav .top-menu ul li:nth-child(2) {
    display: none;
  }
  header nav .bottom-menu .nav-list ul li a {
    font-size: 0.8em;
  }
  header nav .bottom-menu {
    height: 50%;
  }
  header {
    min-height: 150px;
  }
  header .logo {
    height: 30%;
  }
  header nav {
    height: 70%;
  }
  header nav .top-menu {
    height: 40%;
  }
  header nav .bottom-menu {
    height: 60%;
  }
  header nav li a::before {
    display: none;
  }
  header nav li a::after {
    display: none !important;
  }
  header nav .nav-list {
    margin-left: 2.2em;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  header nav .nav-list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 100%;
  }
  header nav .nav-searh {
    width: 22% !important;
  }
}
/*# sourceMappingURL=style.css.map */