
//  colors
$light-black: #293341;
$grey: #7b7b7b;
$logo-light-grey: #646f7f;
$red: #c91f28;
$border-color: #eeeeee;
 
 %flex-centered{
     display:flex;
     justify-content: center;
     align-items: center;
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
 }

.wrapper{
    max-width: 1920px;
    background-color:#fff;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

a,span{
    text-decoration: none;
    color: $grey;

    &:not(span):hover{
        color: $light-black;
    }
}



ul{
    list-style: none;
}

header{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color;

    .logo{
        min-width:230px;
        height: 100%;
        background:url('../img/Logo.png') no-repeat center;
    }

    nav{
        width: 90%;
        border-left: 1px solid $border-color ;
        height: 100%;
    
        .top-menu {
            width: 100%;
            height: 50px;
            background-color:  #293341;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            

            ul{
                display: flex;
                list-style: none;
                justify-content: space-between;
                min-width: 40%;
                color: #646f7f;
                font-size: 0.9em;
                padding-right: 20px;

                li:not(:last-child){
                    padding-right: 40px;
                    
                }
                
                li a{
                    text-decoration: none;
                    color: $logo-light-grey;
                }
                
                li:hover a{
                    color: rgb(211, 211, 211);    
                }

               
            }
        }
        
        .bottom-menu{
            width: 100%;
            height: 100px;
            display: flex;

            .nav-list{
                width: 93%;
                height: 100%;
                border-right: 1px solid $border-color;
                @extend %flex-centered;
                justify-content: flex-end;
        
                

                ul{
                    min-width: 65%;
                    padding-right: 30px;
                    display: flex;
                    justify-content: flex-end;
                
                    // Элементы  NEW и HOT 2 базовых стиля для псевдоэлементов. + 2  меняющие цвет и контент псевдоэлементов.
                    li.promo  a::after{
                        position: absolute;
                        content: '';
                        width: 38px;
                        height: 20px;
                        letter-spacing: normal;
                        font-size: 0.6em;
                        top: -20px;  
                        color: #fff;
                        @extend %flex-centered;
                        flex-direction: column;
                        left: 100%;
                    }

                     li.promo a::before {
                         position: absolute;
                         content: '';
                         width: 10px;
                         height: 10px;
                         left: 100%;
                     }


                    li.promo.hot a::after{
                        content: 'HOT';
                        background-color: #c91f28;
                    }
                    
                     li.promo.hot a::before {
                         background: linear-gradient(to bottom right, #c91f28 50%, transparent 50%);
                     }

                    li.promo.new a::after{
                        content: 'NEW';
                        background-color: green;
                    }

                    li.promo.new a::before {
                        background: linear-gradient(to bottom right, green 50%, transparent 50%);
                    } 

                    li{
                        display: inline-block;
                        margin: 0 18px 0 18px;
                        position: relative;
                        a {
                            font-size: 1em;
                            font-weight: 500;
                            color: $light-black;
                            letter-spacing: 2.21px;
                        }
                       
                    
                    }
                    li.circle {
                         height: 5px;
                         width: 5px;
                         background-color: $light-black;
                         border-radius: 50%;
                         opacity: 0.3;
                         transform: translateY(10px);
                    }
                }       
               

            }
            .nav-searh {
                width: 8%;
                height: 100%;
                color: $light-black;
                font-size: 1.5em; 
                @extend %flex-centered;
            }
        }


    }

}

h2{
    text-transform: uppercase;
    color: $light-black;
    font-size: 1em;
    width: 100%
}


article{
    @extend %flex-centered;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    border-bottom: 1px solid $border-color;
    overflow: hidden;
    background: url(../img/back.jpg);
    background-position: 0 -130px;
    background-repeat: no-repeat;
    background-size: cover; 
    

    h1{
        font-family: 'Montserrat',
        sans-serif;
        font-size: 1.8rem;
        font-weight: 500;
    }


}
// общие стили для многих элементов  в коде, вынесены за рамки наследования.
.product-name{
        font-size: 1.2em!important;
        color: $light-black;
        transition: 0.5s ease all;
        display: block;
        
        
        &:hover{
            transform: translateY(-3px);
            color: $red;
        }

}

.product-price{
    color: $grey;
    &.sale{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 40%;
            height: 1px;
            background-color: $red;
            top: 50%;
            left: 60%
        }
    }

    span{
        color: $red;
    }
}
// 

main{
    width: 100%;
    display: flex;

    section {
        display: flex;
        width: 25%;
        flex-direction: column;
        background-color: #f9f9f9;
        height: 100%;
        padding: 2.2% 4%;
        
        // общие стили ко всем элементам списка в боковом меню
        li{
            padding: 7px;
            display: flex;
            justify-content:space-between;
            align-items: center;    
        }

        // отстпы между каждыми блоками
        & > div{
            padding-bottom: 40px;
        }
        //  общие стили для чекбоксов вне зависиомсти от блока
        .filter-form {
            @extend %flex-centered;
            justify-content: space-between;

            .check{
                padding-left: 35px;
                color: $grey;

                &:hover{
                    color: $light-black;
                }
            }
            
            .check-input{
                appearance: none;
                position: absolute;
            }

            .check-input:checked +.check-box{
                background-color: $red;
                border: none;

                &::before{
                    opacity: 1;
                }
            }

            .check-input:disabled +.check-box{
                background-color: #bbbbbb;
                box-shadow: inset 0px 0px 0px 2px #fff;
            }

            // стили разных статусов делал сам, что-то с  focus  мне ничего не нравится пока закоментил.        

            // .check-input:focus + .check-box {
            //     box-shadow: 0px 0px 0px 3px tomato ;
            // }

            .check-box{
                position: absolute;
                width: 1.2em;
                height: 1.2em;
                border: 1px solid #bbbbbb;
                border-radius: 50%;
                margin-left: -27px;
                margin-top: 3px;
                transition: 0.3s all;
                
                &::before {
                    position: absolute;
                    content: '';
                    background: url(../img/checked.png) 4px 3px no-repeat;
                    background-size: 12px 12px;
                    opacity: 0;
                    width: 30px;
                    height: 30px;
                    z-index: 2;
                }            
            }
        }

    
        // ползунок выбора цены. 
        .price-selector{

            //  кастомный селектор выбора цены.
            .multi-range-slider{
                width: 100%;
                height: 30px;
                position: relative;
                margin-top: 30px;
                .slider{
                    position: relative;
                    z-index: 1;
                    height: 3px;

                    & > .track{
                       position: absolute;
                       z-index: 1;
                       left: 0;
                       right: 0;
                       top: 0;
                       bottom: 0;
                       border-radius: 5px;
                       background-color: #eeeeee;
                    }

                    & > .range{
                        position: absolute;
                        z-index: 2;
                        left: 25%;
                        right: 25%;
                        top: 0;
                        bottom: 0;
                        border-radius: 5px;
                        background-color: $red;
                    }

                    &> .thumb {
                        position: absolute;
                        z-index: 3;
                        width: 3px;
                        height: 15px;
                        background-color: $red;
                        transition: box-shadow .3s ease-in-out;
                    } 
                    &> .thumb.left{
                        left: 25%;
                        transform: translate(0px, -6px);
                            }
                    
                    &>.thumb.right {
                        right: 25%;
                        transform: translate(0, -6px);
                    }
                    }    
                   
                input[type=range] {
                    position: absolute;
                    pointer-events: none;
                    -webkit-appearance: none;
                    z-index: 2;
                    height: 3px;
                    width: 100%;
                    opacity: 0;
                }
                input[type=range]::-webkit-slider-thumb {
                    pointer-events: all;
                    width: 30px;
                    height: 30px;
                    border-radius: 0;
                    border: 0 none;
                    background-color: red;
                    -webkit-appearance: none;
                    cursor: pointer;
                }
                input[type=range]::-moz-range-thumb {
                    pointer-events: all;
                    width: 30px;
                    height: 30px;
                    border-radius: 0;
                    border: 0 none;
                    background-color: red;
                    -moz-appearance: none;
                    cursor: pointer;
                }
                }
            
            // текст цены 
            .price-range{
                @extend %flex-centered;
                justify-content: space-between;
            

                .price-range-text>p {
                    color: $grey;
                    
                }

                .value-text {
                    color: $light-black;
                    font-weight: 600;
                }

                .filter-button {
                    background-color: $light-black;
                    border: none;
                    color: #fff;
                    padding: 1em;
                    cursor: pointer;
                    border: 1px solid transparent;
                    transition: 0.3s ease-in-out;

                    &:hover{
                        background-color: $light-black;
                        color: $red;
                    }
                }
            }

        }

        .color-selector{
            
                a{
                    padding-left: 30px;
                    display: block ;
                    position: relative;
                    

                    &::before{
                        position: absolute;
                        content: "";
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #fff;
                        left: 0px;
                        bottom: 3px; 
                        transition: 0.3s transform ease-in-out;
                    }

                    &:hover::before{
                        transform: scale(1.2);
                    }
                }

                a.turquoise::before{
                    background-color: #27bc9c;
                }
                a.emerald::before{
                    background-color: #36cc73;
                }
                a.flower::before {
                    background-color: #f0c32c;
                }
                a.carrot::before {
                    background-color: #e47d2e;
                }
                a.belize::before {
                    background-color: #2e80b7;
                }
                a.alizarin::before {
                    background-color: #e54a41;
                }
        }

        .top-rated-link{
            width: 100%;
            @extend %flex-centered;
            justify-content: flex-start;
            padding-top: 20px;
            

            .mini-img{
                min-width: 100px;
                max-height: 100px;
            }

            .top-rated-text{
                padding-left: 20px;
            

            & > .product-name{
                font-size: 1em!important;
                }
            }

            
        }
        
        .tags{
            display: flex;
            flex-wrap: wrap;

             button.tag {
                 padding: 1em 1.5em;
                 margin: 0.5em 0.5em 0.5em 0;
                 background-color: #fff;
                 border: 1px solid #eeeeee;
                 color: $grey;
                 cursor: pointer;
                 transition: 0.3s;

             &:hover{
                 color: $light-black;
                 border: 1px solid $light-black;
             }

             }
        }
       
        
    }
    // Основной блок с товарами
    .products-wrapper {
        width: 75%;
        display: flex;
        flex-direction: column;
        padding: 45px 45px 0 45px;
        
        align-items: center;

         .crumbs {
             display: flex;
             align-self: flex-start;
             padding-bottom: 1em;

             * {
                 display: block;
                 padding-left: 5px;
                 color: $grey
             }

         }

        .sort-body{
            width: 100%;
            height: 60px;
            display: flex;
            position: relative;
           

            
            .block{
                height: 100%;
                border: 1px solid $border-color;
                color: #7b7b7b;
                font-size: 0.8em;
                @extend %flex-centered;
                &:not(:last-child) {
                    border-right: none;
                }
            }

            .found{
                    flex-basis: 15%;
                    text-align: center;
            }
            
            .sort{
                    flex-basis: 15%;
                    min-width: 130px;
                    position: relative;
                    
                   .arrow {
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            background: linear-gradient(to right bottom, transparent 75%, $grey 75%);
                            transform: rotate(45deg);
                            left: 80%;
                            top: 20%;
                            
    
                    }
                    
                    
                    
                    select{
                        appearance: none;
                        border: none;
                        cursor: pointer;
                        color: #7b7b7b;
                        padding: 20px 52px 20px 52px;
                        line-height: 20px;
                        display: block;
                        font-family: 'Poppins',
                        sans-serif;
                        outline: none;
                        background: transparent;
                        box-shadow:  none;       
                    }
            }

            // блок для мобильной вестки скрытый при большмо разрешении. 
            .empty{
                flex-basis: 70%;
                flex-shrink: 1;
                position: relative;
                
                p{
                    opacity: 0;
                    cursor: pointer;
                }

                 ul.hidden-list{
                     position: fixed;
                     height: 100%;
                     width: 100%;
                     z-index: -1;
                     background-color: #f9f9f9;
                     @extend  %flex-centered;
                     flex-direction: column;
                     justify-content: space-evenly;
                     top: 0;
                     left: 0;
                     opacity: 0;
                     
                     li{
                         z-index: 11;
                         color: $light-black;
                         text-decoration: underline;
                         

                     }

                 }

                 ul.hidden-list::after{
                     position: absolute;
                     content: 'X';
                     border: 1px solid $light-black;
                     padding: 6px 10px;
                     color: $light-black;
                     top: 5%;
                     right: 10%;
                     
                 }


            }

            
            

            .view{
                min-width: 70px;
                @extend %flex-centered;
                cursor: pointer;

                a, a::after, a::before{
                    transition: 0.5s all ease;
                }

                a.view-selector-many{
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-color: $grey;
                    position: relative;
                
                    &::before{
                        position: absolute;
                        content: '';
                        width: 20px;
                        height: 1px;
                        background-color: #fff;
                        top: 50%
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        width: 1px;
                        height: 20px;
                        background-color: #fff;
                        right: 48%;
                    }
                }

                a.view-selector-single {
                    position: relative;
                    display: block;
                    width: 20px;
                    height: 2px;
                    background-color: $grey;
                
                
                    &::before{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: $grey;
                        top: 9px
                        
                    }
                     &::after {
                         position: absolute;
                         content: '';
                         width: 100%;
                         height: 2px;
                         background-color: $grey;
                         bottom: 9px
                     }
                }
                
              
            }

            //  Стили для строчного или блочного отображения при наведение. 
            .view:not(.active):hover a,
            .view:not(.active):hover a::after,
            .view:not(.active):hover a::before
            {
                 background-color: $red;
            } 

            .view.active a{
                background-color: $red!important;
            }


            .list-view {
                min-width: 70px;
            }

        }

        .products{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            

            .product{
                width: 30%;
                max-height: 800px;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                position: relative;
                
                // псево элементы -бирки New Sale.  разные варианты что бы работало когда есть одна бирка или когда есть 2.
                &.new::after{
                    position: absolute;
                    display: block;
                    content: 'new';
                    width: 2.2em;
                    height: 1.5em;
                    background-color: #27ae60;
                    color: #fff;
                    top: 1%;
                    left: 1%;
                    font-size: 0.6em;
                    padding: 3px 5px;
                }
                &.sale::after{
                    position: absolute;
                    display: block;
                    content: 'sale';
                    width: 2.2em;
                    height: 1.5em;
                    background-color: $red;
                    color: #fff;
                    top: 1%;
                    left: 1%;
                    font-size: 0.6em;
                    padding: 3px 5px;
                }
                &.sale.new::after{
                    position: absolute;
                    display: block;
                    content: 'sale';
                    width: 2.2em;
                    height: 1.5em;
                    background-color: $red;
                    color: #fff;
                    top: 1%;
                    left: 1%;
                    font-size: 0.6em;
                    padding: 3px 5px;
                }
                &.sale.new::before{
                   position: absolute;
                   display: block;
                   content: 'new';
                   width: 2.2em;
                   height: 1.5em;
                   background-color: #27ae60;
                   color: #fff;
                   top: 4.5%;
                   left: 1%;
                   font-size: 0.6em;
                   padding: 3px 5px;
                   z-index: 1;
                   }
                .image-product-wrapper {
                    height: 85%;
                    width: 100%;
                    position: relative;
                    transition: 0.5s opacity ease;

                    a {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: flex;
                        cursor: inherit;
                       
        
                        img {
                                width: 100%;
                                min-height: 350px;
                                overflow: hidden;
                                
                        }

                    }
                
                }
                // блок  с текстом ценой и рейтингом
                .info-image-wrapper {
                    width: 100%;
                    height: 15%;
                    @extend %flex-centered;
                    flex-direction: column;

                    .rating li{
                        display: inline-block;
                    }
                    .star{
                        color: #b6b6b6;
                        font-size: 0.7em;
                        text-overflow: ellipsis;
                        
                    }

                    .fill{
                        color:#ffbb04;
                    }
                    
                }
                // стили меню при наведении на картинку товара
                .product-hover-menu {
                    position: absolute;
                    width: 80%;
                    height: 10%;
                    opacity: 0;
                    bottom: 30%;
                    right: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: 0.5s all ease;
                
                    a{
                        color: $logo-light-grey;
                        @extend %flex-centered;
                        background-color: white;
                        
                    }

                    .to-favorite {
                        width: 20%;
                        height: 100%;
                        border-top-left-radius: 50%;
                        border-bottom-left-radius: 50%;
                        border: 1px solid #e0dfdf;
                        padding-left: 7px;
                        
                        i{
                            cursor: pointer;
                            font-size: 1.5em;
                        }
                    }

                    .to-cart{
                        width: 60%;
                        height: 100%;
                        border-top:  1px solid #e0dfdf;
                        border-bottom: 1px solid #e0dfdf;
                        text-transform: uppercase;
                        color: $red;
                        font-weight: bold;
                        cursor: pointer;

                        &:hover{
                            color: #c91f27c2
                        }
                        
                        
                    }

                    .to-product{
                        width: 20%;
                        height: 100%;
                        border-top-right-radius: 50%;
                        border: 1px solid #e0dfdf;
                        border-bottom-right-radius: 50%;

                         i {
                             cursor: pointer;
                             font-size: 1.5em;
                         }
                    }
                }
                .image-product-wrapper:hover .product-hover-menu {
                    transform: translateX(50%);
                    opacity: 1;
                }
                .image-product-wrapper:hover  img{
                    opacity: 0.6;
                }
            }
        }
        .pagination{
           height: 50px; 
           min-width: 250px;
           @extend %flex-centered;
           justify-content: space-between;
           margin: 5vh;

            
           .pagination-link{
               min-width: 50px;
               height: 50px;
               margin: 10px 10px;
               color: $light-black;
               border: 1px solid $border-color;
               text-align: center;
               vertical-align: middle;
               line-height: 50px;
               transition: 0.5s all ease;
               
           }

           .pagination-link:not(.current-page):not(.pagination-disabled):hover{
               color: #fff;
               background-color: $light-black;
           }

           .current-page {
                background-color: $light-black ;
                color: #fff;
           }

           .pagination-disabled i {
               color: $border-color;
           }
           
           
        }  
    }
}

footer{
    width: 100%;
    display: flex;
    min-height: 290px;
    border-top: 1px solid $border-color;

    p,
    a {
        color: $grey;
        padding: 1%;
    }

    a:hover{
        color: $light-black
    }

    .company-footer{
        display: flex;
        flex-direction: column;
        border-right: 1px solid $border-color;
        width: 30%;
        align-items: flex-end; 
        padding: 2% 5%;

        p{
            font-size: 1.5em;
            font-weight: 600;
            color: $light-black;
            text-transform: uppercase;
        }
        
    }

    .info{
        width: 40%;
        border-right: 1px solid $border-color;
        align-items: center;
        padding: 3% 1% ;

        img{
            padding-bottom: 20px;
        }

        .simple{
            color: $grey;
            font-size: 1em;
            text-transform: none;
            font-weight: lighter;
        }
    }

    .help{
        align-items: flex-start;
        border: none;
    }
    

}


// адаптивка 
@media screen and (max-width: 1300px) {
     .product {
         width: 47%!important;
     }

     li.circle{
        display: none!important;
     }

     article{
         min-height: 250px!important;
     }

     section {
         padding: 2.2% 25px!important;
     }
}
@media screen and (max-width: 1000px){
     
   

    
    header{
         flex-direction: column;
         min-height: 200px;
     }
     
    nav{
         width: 100%!important;

         .top-menu{
             justify-content: center!important;
         }

         .nav-list{
             justify-content: center!important;
             ul{
                padding-right: 0 !important;
             }
             
         }
         
         .nav-searh {
             width: 12% !important;
         }
         
     }

    footer{
        justify-content: space-between;
         
        .company-footer{
            width: 50%
        }
        .info{
             display: none;
         }

      
     }

}
@media screen and (max-width: 800px) {

    section {
        display: none !important;
    }

    article{
        display: none;
    }

    .product{
        width: 80%!important;
    }

    .found{
        display: none!important;
    }

    .top-menu li {
     padding-right: 1em!important;
    }

    .top-menu ul{
       padding-right: 0!important;
    }

    .nav-list li{
        margin: 0 0.6em!important;
    }

    .products-wrapper {
        width: 100%!important;
        padding: 1em 0 0 0em!important;
        justify-content: space-between!important;
    }
    .product{
        width: 49%!important;
    }

    .block.view{
        display: none!important;
    }
    .block.empty {
        flex-basis: 100%!important;
    }

     .empty p {
         opacity: 1 !important;
         ;
     }
  

}
@media screen and (max-width: 480px){
    header nav .top-menu ul {    
        display: -webkit-box;
    }

    .products{
        justify-content: space-around!important;
    }
    .product {
        width: 80%!important;
    }
    header nav .top-menu ul li:nth-child(2){
        display: none;
    }

    header nav .bottom-menu .nav-list ul li a {
        font-size: 0.8em;
    }
    header nav .bottom-menu{
        height: 50%;
    }
    header{
        min-height: 150px;
        .logo{
            height: 30%;
        }
        nav{
            height: 70%;

            .top-menu {
                height: 40%;
            }

            .bottom-menu{
                height: 60%;
            }

            li a::before{
                display: none;
            }

            li a::after{
                display: none!important;
            }

             .nav-list {
                 margin-left: 2.2em;
                justify-content: flex-start!important;
                
                ul{
                    flex-direction: column;
                    flex-wrap: wrap;
                    max-height: 100%;
                    }
            }

            .nav-searh{
                width: 22%!important;
            }
        }
    }

   
}

